<!DOCTYPE html>
<html>
<head>
    <title>Select Options Example</title>
</head>
<body>
    <select name="trainer">
        {% for option in options %}
            {% if option == selected_option %}
                <option value="{{ option }}" selected>{{ option 
}}</option>
            {% else %}
                <option value="{{ option }}">{{ option }}</option>
            {% endif %}
        {% endfor %}
    </select>
<pre>
<p>
<button onclick="redirectToNewTemplate()">Select
    <script>
        function redirectToNewTemplate() {
            window.location.href = '/trainer';
        }</script></button>
<h7><b>Doubt clearing this week</b></h7>
WeD -- RC
Thur -- RC
Status call -- RC
</p></pre>
<p>
<h7<b><a 
href='https://docs.google.com/spreadsheets/d/13QgilOKsndVS79OO5ehedY_tglwUhhNy_k4FynJRJ3M/edit#gid=258390129'>Evaluation sheet</a></b></h7>
</body>
</html>

